---
import Section from './Section.astro';
import { siteConfig } from '@/config/site';
import { features } from '@/config/features';

const year = new Date().getFullYear();
---

<Section>
	<footer class="text-center">
		<div class="pb-4">
			<a class="underline hover:text-[var(--accent-500)]" href="/sitemap-0.xml">Sitemap</a>
			 - <a class="underline hover:text-[var(--accent-500)]" href="/tags">Tags</a>
			 {features.contact.enabled && (<span> - <a class="underline hover:text-[var(--accent-500)]" href="/contact">Contact</a></span>)}
		</div>
		© {year} - {siteConfig.author.name}
	</footer>
</Section>
