---
import AsciiHeader from '@/components/ui/AsciiHeader.astro';
---

<div class="mt-8 flex flex-col items-center">
	<AsciiHeader text="CONTACT" />

	<p class="mt-4 text-center text-lg text-[var(--accent-600)]">
		Professional inquiries, collaborations, or just a friendly hello.
	</p>
</div>