---
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const pageTitle = 'Projects';
const pageDescription = "A collection of projects I've worked on";
const projects: CollectionEntry<'projects'>[] = await getCollection('projects');
---

<Base head={{ title: pageTitle, description: pageDescription }}>
  <Section><Heading title="Projects" /></Section>
  <Section>
    <div class="flex flex-col gap-4">
      {projects.map((p: CollectionEntry<'projects'>) => (
        <ProjectCard project={p} />
      ))}
    </div>
  </Section>
</Base>
