---
import { Book } from '@/lib/content/books';
import Section from '../layout/Section.astro';

interface Props {
	books: Book[];
	getGoodreadsUrl: (id: string) => string;
}

const { books, getGoodreadsUrl } = Astro.props;
---

{
	books.length > 0 && (
		<Section>
			<div class="mb-4 flex items-center gap-3">
				<h2 class="text-2xl font-bold text-[var(--accent-500)]">
					Currently Reading
				</h2>
			</div>

			<div class="grid gap-4">
				{books.map((book) => (
					<a
						href={getGoodreadsUrl(book.id)}
						target="_blank"
						rel="noopener noreferrer"
						class="group block"
					>
						<div class="bg-[var(--card-outer-bg)] p-[1px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] transition group-hover:bg-[var(--accent-500)]">
							<div class="bg-[var(--card-inner-bg)] p-5 text-[var(--text-color)] opacity-95">
								<h3 class="text-xl font-bold transition group-hover:text-[var(--accent-500)] group-hover:underline">
									{book.title}
								</h3>
								<p class="text-[var(--muted-text)]">
									by {book.author}
								</p>
							</div>
						</div>
					</a>
				))}
			</div>
		</Section>
	)
}