PUBLIC_FEATURE_SEARCH=true
PUBLIC_FEATURE_VIEW_COUNTER=true
PUBLIC_FEATURE_CONTACT=true
PUBLIC_FEATURE_OG=true
PUBLIC_FEATURE_MERMAID=true
PUBLIC_FEATURE_RSS=true
PUBLIC_VIEW_COUNTER_URL=ws://localhost:8000
PUBLIC_CONTACT_URL=http://localhost:8001/api/v1/contact/